### Завдання №15

1. По наведеним експериментальним даним побудувати математичні моделі межі текучості $G_T$ і відносного звуження $\phi$:
$$G_T = f_1(C,T_{\textit{від}})\\
\phi = f_2(C, T_{\textit{від}})$$
Довести іх адекватність.

2. Оптимізувати вміст вуглецю і температуру відпуску сталі з ціллю досягнення поєднання максимальних значень межі текучості $G_T$ і відносного звуження $\phi \geq 65$.

3. Визначити вміст вуглецю і температуру відпуску сталі для отримання:
$$420 \leq G_T \leq 520 \\
67 \leq \phi \leq 70$$

Вихідні дані приведені в таблиці:
<table style="undefined;table-layout: fixed; width: 350px">
<colgroup>
<col style="width: 27px">
<col style="width: 51px">
<col style="width: 71px">
<col style="width: 35px">
<col style="width: 35px">
<col style="width: 35px">
<col style="width: 31px">
<col style="width: 34px">
<col style="width: 31px">
</colgroup>
  <tr>
    <th rowspan="2">№</th>
    <th rowspan="2">C, %</th>
    <th rowspan="2">Tвід, °C</th>
    <th colspan="3">GT, МПа</th>
    <th colspan="3">φ, %</th>
  </tr>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>1</td>
    <td>0.3</td>
    <td>400</td>
    <td>550</td>
    <td>540</td>
    <td>545</td>
    <td>66</td>
    <td>65</td>
    <td>64</td>
  </tr>
  <tr>
    <td>2</td>
    <td>0.3</td>
    <td>500</td>
    <td>490</td>
    <td>490</td>
    <td>490</td>
    <td>71</td>
    <td>70</td>
    <td>73</td>
  </tr>
  <tr>
    <td>3</td>
    <td>0.3</td>
    <td>600</td>
    <td>400</td>
    <td>400</td>
    <td>400</td>
    <td>78</td>
    <td>77</td>
    <td>75</td>
  </tr>
  <tr>
    <td>4</td>
    <td>0.35</td>
    <td>400</td>
    <td>630</td>
    <td>630</td>
    <td>635</td>
    <td>61</td>
    <td>60</td>
    <td>59</td>
  </tr>
  <tr>
    <td>5</td>
    <td>0.35</td>
    <td>500</td>
    <td>540</td>
    <td>546</td>
    <td>543</td>
    <td>67</td>
    <td>67</td>
    <td>67</td>
  </tr>
  <tr>
    <td>6</td>
    <td>0.35</td>
    <td>600</td>
    <td>420</td>
    <td>421</td>
    <td>420</td>
    <td>74</td>
    <td>73</td>
    <td>73</td>
  </tr>
  <tr>
    <td>7</td>
    <td>0.4</td>
    <td>400</td>
    <td>700</td>
    <td>705</td>
    <td>720</td>
    <td>58</td>
    <td>69</td>
    <td>59</td>
  </tr>
  <tr>
    <td>8</td>
    <td>0.4</td>
    <td>500</td>
    <td>590</td>
    <td>587</td>
    <td>590</td>
    <td>65</td>
    <td>66</td>
    <td>67</td>
  </tr>
  <tr>
    <td>9</td>
    <td>0.4</td>
    <td>600</td>
    <td>450</td>
    <td>455</td>
    <td>450</td>
    <td>71</td>
    <td>72</td>
    <td>71</td>
  </tr>
</table>

Якщо в пунктах 2 та 3 розв'язки не будуть визначені, то змінити задані межі властивостей у відповідності до методу послідовних поступок.

### Необхідні матеріали

In [1]:
from IPython.display import Latex
import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

### Виконання

#### Побудова математичних моделей
Зчитуємо дані властивостей `X`: концентрацію (%) та температуру відпуску (°C). Для кожного спостереження відгуків `G_T` та `phi` шукаємо середнє медіанне:

In [2]:
X = np.genfromtxt('X.csv', delimiter=',')
G_T = np.median(np.genfromtxt('G_T.csv', delimiter=','), axis=1)
phi = np.median(np.genfromtxt('phi.csv', delimiter=','), axis=1)

По зчитаним даним створюємо математичні моделі $f_1$ і $f_2$ для межі текучості $G_T$ і відносного звуження $ϕ$ відповідно. Як математичну модель використовуємо лінійну регресію:

In [3]:
f1 = LinearRegression()
f1.fit(X, G_T)

f2 = LinearRegression()
f2.fit(X, phi)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

Інтерпретуємо моделі:

In [4]:
Latex('$f_1(C,T_{\\textit{від}}) = %.0f + %.0f\,C %.2f\,T_{\\textit{від}} \\\ f_2(C,T_{\\textit{від}}) = %.0f %.0f\,C + %.2f\,T_{\\textit{від}}$' % (f1.intercept_, *f1.coef_, f2.intercept_, *f2.coef_))

Оцінимо коефіцієнти кореляції між відгуками даних моделей з експериментальними даними:

In [13]:
R1 = f1.score(X, G_T)
R2 = f2.score(X, phi)
Latex(f"$R_1^2 = {R1:.2f}, \; R_2^2 = {R2:.2f}$")

Для обох моделей коефіцієнт кореляції більше 95%, що свідчить про адекватність даних моделей.

#### Оптимізація

Маємо табличне представлення даних:

In [6]:
df = pd.DataFrame({'C':X[:, 0], 'T':X[:, 1], 'G_T':G_T, 'phi':phi}, columns=['C', 'T', 'G_T', 'phi'])
df

      C      T    G_T   phi
0  0.30  400.0  545.0  65.0
1  0.30  500.0  490.0  71.0
2  0.30  600.0  400.0  77.0
3  0.35  400.0  630.0  60.0
4  0.35  500.0  543.0  67.0
5  0.35  600.0  420.0  73.0
6  0.40  400.0  705.0  59.0
7  0.40  500.0  590.0  66.0
8  0.40  600.0  450.0  71.0

Знайдемо вміст вуглецю (С) та температуру відпуску за яких отримується максимальна межа текучості. За умови, що відносне звуження $\phi \geq 65\%$:

In [7]:
df[df.phi >= 65].sort_values('G_T', ascending=False).iloc[0]

C        0.4
T      500.0
G_T    590.0
phi     66.0
Name: 7, dtype: float64

Отримуємо: $C = 0.4\,\%$ і $T_{\textit{від}} = 500\,°C$. При цьому максимальна межа текучості становить $G_T = 590\,\text{МПа}$.

Визначимо вміст вуглецю і температуру відпуску сталі для отримання:
$$420 \leq G_T \leq 520 \\
67 \leq \phi \leq 70$$

In [8]:
df[((df.G_T >= 420) & (df.G_T <= 520)) & ((df.phi >= 67) & (df.phi <= 70))]

Empty DataFrame
Columns: [C, T, G_T, phi]
Index: []

В таблиці не існує даних, які задовільнили б такі умови. Перевіримо умови для межі текучості та відносного звуження окремо:

In [9]:
df[((df.G_T >= 420) & (df.G_T <= 520))]

      C      T    G_T   phi
1  0.30  500.0  490.0  71.0
5  0.35  600.0  420.0  73.0
8  0.40  600.0  450.0  71.0

In [10]:
df[((df.phi >= 67) & (df.phi <= 70))]

      C      T    G_T   phi
4  0.35  500.0  543.0  67.0

Приймаємо рішення розширити інтервал для відносного звуження:
$$ 67 \leq \phi \leq 71$$

In [11]:
df[((df.G_T >= 420) & (df.G_T <= 520)) & ((df.phi >= 67) & (df.phi <= 71))]

     C      T    G_T   phi
1  0.3  500.0  490.0  71.0
8  0.4  600.0  450.0  71.0