# Робота №4. Вивчення структури металів за допомогою функції радіального розподілу атомів

## Мета роботи
Дослідження параметрів структури металів в кристалічному та рідкому стані за допомогою визначення ФРР атомів моделюванням методом молекулярної динаміки.

## Об'єкт дослідження
Чисті метали за умов різних температур.

## Програма проведення експерименту
Створити кристал з ~1000-2000 атомів з періодичними граничними умовами. Матеріал: Pt.

In [1]:
%%writefile lab4.xm
read ../pot/Pt_xmd.eam

box 9 9 9

fill particle 4
1     0.0        0.0        0.0
1     0.5        0.0        0.5
1     0.5        0.5        0.0
1     0.0        0.5        0.5

fill align 8 8 8
fill orient 1 0 0  0 1 0  0 0 1
fill go

dtime 1e-14

select all #
mass 195.084

clamp $1
itemp $1
scale 3.9231

select index 14571
set add 1
select keep on

cmd 1000
#write file +lab2_pos_vel_$1.txt sel posvel
write pdb +lab4_$2.pdb
#WRITE file +lab4_$2.rdf RDF 160 2 18

Overwriting lab4.xm

In [2]:
Tmelt = 2041.4 # Kelvin
T = [0.1*Tmelt, 1.5*Tmelt]

In [3]:
for i, temp in enumerate(T):
    !del /f lab4_{i}.pdb
    #!del /f lab4_{i}.rdf
    !xmd lab4.xm {temp} {i} > lab4_{i}.log # temperature, n of experiment

In [53]:
16/0.1

160.0

In [45]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

def read_data(name):
    data_frame = pd.read_csv(name, delimiter='\s+', skipinitialspace=True, skiprows=4,
                             names=['skip1', 'HETATM', 'type', 'X', 'Y', 'Z'])[['X', 'Y', 'Z']]
    data_frame.dropna(inplace=True)
    return data_frame

data = [read_data(f'lab4_{i}.pdb') for i in range(2)]

In [49]:
centre = data[0].iloc[1456]
centre

X    15.609
Y    15.674
Z    15.765
Name: 1456, dtype: float64

In [42]:
data[0][['X', 'Y', 'Z']]

           X       Y       Z
0      0.037  35.275   0.060
1      1.957   0.049   1.916
2      1.896   1.970  35.229
3     35.303   1.948   1.934
4      0.036   0.019   3.882
5      1.876   0.013   5.843
6      2.001   1.981   3.907
7      0.035   1.947   5.946
8     35.305  35.271   7.852
9      2.014  35.256   9.819
10     2.032   1.917   7.859
11     0.031   1.938   9.859
12    35.233   0.067  11.735
13     1.980  35.263  13.729
14     2.005   1.898  11.833
15    35.286   1.958  13.747
16    35.302  35.300  15.689
17     1.864  35.289  17.620
18     2.025   1.990  15.630
19     0.104   2.033  17.544
20     0.078   0.016  19.611
21     2.027   0.018  21.606
22     1.987   1.974  19.529
23    35.271   1.884  21.456
24     0.002   0.051  23.508
25     1.930  35.307  25.463
26     1.965   1.908  23.522
27     0.030   1.967  25.538
28     0.015   0.017  27.521
29     2.014   0.068  29.501
...      ...     ...     ...
2886  33.457  33.420   3.825
2887  31.496  33.265   5.896
2888  31.430  31.421   7.789
2889  33.315  31.364   9.786
2890  33.351  33.288   7.905
2891  31.366  33.307   9.875
2892  31.361  31.325  11.826
2893  33.353  31.327  13.775
2894  33.395  33.282  11.682
2895  31.460  33.347  13.650
2896  31.370  31.311  15.636
2897  33.311  31.393  17.618
2898  33.285  33.349  15.651
2899  31.326  33.371  17.690
2900  31.318  31.356  19.751
2901  33.374  31.403  21.572
2902  33.246  33.312  19.681
2903  31.403  33.384  21.672
2904  31.286  31.349  23.603
2905  33.277  31.413  25.524
2906  33.321  33.266  23.499
2907  31.356  33.407  25.500
2908  31.440  31.353  27.459
2909  33.449  31.296  29.376
2910  33.297  33.351  27.549
2911  31.402  33.320  29.563
2912  31.371  31.359  31.406
2913  33.375  31.364  33.352
2914  33.387  33.355  31.382
2915  31.449  33.293  33.399

[2916 rows x 3 columns]